@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Está página foi desenvolvida por: <a href="https://github.com/daniel-goldacker" target="_blank">Daniel Goldacker</a>.</p>
</div>
