@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Este sistema de reserva de veículos tem como objetivo mostrar a criação de uma API bem como o seu consumo através de uma aplicação. Na solução você vai encontrar os projetos:</p>

    <b>ReservasAPI:</b> Contém uma API usando ASP .NET Core responsável pelas operações de obter, inserir, alterar, editar e excluir uma reserva de veículo.
    <b>ReservaMVC:</b> Contém uma aplicação usando a ASP .NET Core utilizando o conceito de MVC consumindo as APIs do projeto ReservasAPI.</p>

    <p><b>OBS:</b> Como este exemplo consiste em mostrar a criação de uma API bem como o seu consumo através de uma aplicação implementamos os métodos da interface usando um Dictionary. Assim não dependeremos de um banco de dados relacional.</p>
</div>
